.loader {
    z-index: 9999;
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    @include vp-767 {
        top: 40px;
    }

    &__animation {
        width: 400px;
        color: $color-dark-gray;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);

        @include vp-767 {
            width: 200px;
        }
    }
}