.catalog__body-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;

    &-button {
        text-transform: none;

        &:last-child {
            background-color: $color-gray-light;

            &:hover {
                background-color: $color-gold;
            }
        }
    }

    @include vp-767 {
        display: none;
    }
}