@use "@styles/global" as *;

/* accordion: */
.accordion-enter-active {
    transition: opacity $animation-duration ease-in-out;
}

.accordion-enter-from,
.accordion-leave-to {
    opacity: 0;
}

/* fading: */
.fade-leave-active {
  transition: opacity $animation-duration-long ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}