.header {
    margin: 0 auto 55px;
    position: relative;
    width: 100%;

    @include vp-767 {
        margin: 15px auto 25px;
    }

    &--catalog {
        margin: 0 auto 96px;

        @include vp-767 {
            padding: 15px 0 0;
            margin: 0 0 25px;
        }
    }

    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1248px;
        padding: 73px 0 0;

        @include vp-767 {
            padding: 0;
        }

        &--with-border {
            border-bottom: 1px solid $color-gray-light;
            padding: 57px 0 21px;

            @include vp-767 {
                border: none;
                padding: 0;
            }
        }
    }

    &__logo {
        @include vp-767 {
            width: 94px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__menu {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            right: -4px;
            border: 1px solid $color-dark-gray;
            height: 17px;
            top: 42%;
            transform: translateY(-50%);

            @include vp-767 {
                display: none;
            }
        }

        &-link {
            font-size: 16px;
            line-height: 27px;
            margin-right: 76px;
            position: relative;

            &--active::before {
                position: absolute;
                content: "";
                border-bottom: 3px solid $color-black;
                width: 100%;
                bottom: -22px;
            }
        }
    }

    &__actions {
        margin-left: 80px;
        gap: 39px;
        display: flex;

        @include vp-767 {
            margin-left: auto;
            gap: 18px;
        }

        &-burger-menu {
            width: 20px;
            height: 20px;
        }

        &-basket {
            position: relative;

            @include vp-767 {
                width: 18px;
                height: 18px;
            }

            &-counter {
                padding: 2px 3px;
                display: flex;
                aspect-ratio: 1 / 1;
                align-items: center;
                position: absolute;
                top: -38%;
                left: 70%;
                font-family: $ff-allerta-stencil;
                font-size: 10px;
                line-height: 0.54em;
                border: 1px solid $color-black;
                border-radius: 50%;
                z-index: 2;
                background-color: $color-white;

                @include vp-767 {
                    font-size: 8px;
                    left: 10px;
                    top: -2px;
                }
            }
        }

        &-profile {
            @include vp-767 {
                width: 18px;
                height: 20px;
            }
        }
    }
}

.burger-menu {
    display: none;
    font-size: 20px;
    line-height: 26px;
    overflow-y: auto;

    @include vp-767 {
        &--active {
            padding: 10px 34px 0 0;
            position: fixed;
            top: 55px;
            left: 15px;
            z-index: 15;
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
        }

        &__top {
            display: inline-flex;
            flex-direction: column;
            padding: 0 0 16px;
            margin: 0 0 24px;
            border-bottom: 1px solid $color-gray-light;
        }

        &__link {
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 0 0 23px;
            width: fit-content;

            img {
                width: 19px;
                height: 19px;
            }
        }
    }
}

/* on/off scroll when show modal window */
body.open-modal-window {
  @include vp-767 {
    overflow: hidden;
  }
}