/* colors */
$color-white: #ffffff;
$color-black: #000000;
$color-gold: #A18A68;
$color-dark-gray: #707070;
$color-red: #D82700;
$color-light-gray: #EFEFEF;
$color-gray-light: #D8D8D8;
$animation-duration: 0.5s;
$animation-duration-long: 2s;
$transition-fast-easy: 0.2s ease-in-out;

/* typography */
$ff-dm-sans: "DM Sans", "Arial", sans-serif;
$ff-allerta-stencil: "Allerta Stencil", "Arial", sans-serif;

/* vieport */
$vp-mobile: 767px