.product-tabs {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px;
    position: relative;

    @include vp-767 {
        border-bottom: 1px solid $color-gray-light;
        padding: 20px 0;
        margin: 0 0 30px;
    }

    &__buttons {
        display: flex;
        gap: 90px;
        border-bottom: 1px solid $color-gray-light;
        padding: 0 0 29px;

        @include vp-767 {
            gap: 10px;
            flex-direction: column;
            border-bottom: unset;
            padding: 0;
        }

        &-btn {
            font-size: 20px;
            line-height: 26px;
            position: relative;
            color: $color-dark-gray;
            font-family: inherit;

            @include vp-767 {
                color: $color-black;
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                width: 100%;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 210%;
                left: 0;
            }

            @include vp-767 {
                &::after {
                    display: none;
                }
            }

            &--active {
                color: $color-black;

                &::before {
                    position: absolute;
                    content: "";
                    border-bottom: 3px solid $color-black;
                    width: 100%;
                    bottom: -30px;

                    @include vp-767 {
                        display: none;
                    }
                }
            }

            &:hover {
                color: $color-black;

                &::before {
                    position: absolute;
                    content: "";
                    border-bottom: 3px solid $color-black;
                    width: 100%;
                    bottom: -30px;

                    @include vp-767 {
                        display: none;
                    }
                }
            }

            &-arrow {
                display: none;

                @include vp-767 {
                    display: block;
                    position: absolute;
                    transform: translateY(-50%) rotate(270deg);
                    right: 5px;
                    top: 50%;
                    height: 14px;
                    transition: transform 0.5s ease;
                    z-index: -1;

                    &--active {
                        transform: translateY(-50%) rotate(90deg);
                        transition: transform 0.5s ease;
                    }
                }
            }
        }
    }

    &__tab {
        padding: 40px 0;
        font-size: 16px;
        line-height: 27px;

        @include vp-767 {
            padding: 10px 0 10px 10px;
            font-size: 12px;
            line-height: 20px;
        }
    }
}